<navbar-component></navbar-component>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <form class="form-horizontal">
                <h3>Contact Details</h3>

                <div class="{{whatDivClass}}">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="First Name"
                      required
                      [(ngModel)]="contact.firstName"
                      (keyup)="whatClass(contact.firstName)"
                      name="firstName"
                      autocomplete="off">
                      <span class="{{whatGlyph}}"></span>
                      </div>


                <div class="form-group">
                    <input
                        type="text"
                        class="form-control"
                        placeholder="Last Name"></div>

                <div class="form-group">
                    <input
                        type="email"
                        class="form-control"
                        placeholder="Email Address"></div>

                <div class="form-group">
                    <input
                        type="text"
                        class="form-control"
                        placeholder="Phone"></div>

                <h3>Issue Description</h3>

                <div class="form-group">
                    <select
                        name="Category"
                        class="form-control">
                            <option value="default">-- Please Select --</option>
                            <option value="New Debit Transaction">New Debit Transaction</option>
                            <option value="New Credit Transaction">New Credit Transaction</option>
                            <option value="Refund\Cancel Transaction">Refund\Cancel Transaction</option>
                            <option value="Module Batch">Module Batch</option>
                            <option value="Other">Other</option>
                    </select></div>

                <div class="form-group">
                <textarea
                    class="form-control"
                    rows="4"
                    placeholder="Specify Here Your Issue"></textarea></div>

                <button type="submit" class="btn btn-primary btn-block">Submit</button>
            </form>
        </div>
    </div>
</div>
