<div class="navbar navbar-inverse navbar-static-top" role="navigation">
    <div class="container">
        <a routerLink="/" routerLinkActive="active" class="navbar-brand">VerPAY Support</a>
        <div class="collapse navbar-collapse navbar-responsive-collapse" id="navButton">
            <ul class="nav navbar-nav">
                <li><a routerLink="/form" routerLinkActive="active">New Ticket</a></li>
                <li><a routerLink="/playlist" routerLinkActive="active">Video Tutorials</a></li>
                <li><a href="#">About</a></li>
            </ul>
        </div>
    </div>
</div>


